population_size           = 10
max_generations           = 2
sample_count              = 2       ## 2 examples each evaluation.
mutation_power            = 0.03    ## Maximum range of mutation.
mutation_power_decay      = 0.99    ## Power decayed gradually, 0 disables, 1 will leave 0 mutation power at last generation.
mutation_rate             = 0.04    ## Proportion of weights to mutate
mutation_rate_decay       = 0       ## Decay rate of mutation.
sex_proportion            = 0.5     ## Proportion of offspring produced by sexual reproduction.
selection_proportion      = 0.4     ## Top X proportion of individuals selected for reproduction.
initial_weights_delta     = 1.0     ## Initial weights range from [ -W_D, W_D ]
fitness_decay_rate        = 0.2     ## .2 = 20% decay per evaluation.
tracking_stride           = 1000    # Every n generations, print out info.
